body{
	font-family: 'Poppins', sans-serif;
}
.navbar {
  display: flex;
  overflow: hidden;
  background-color: white;
}

.navbar a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

form, .content {
  width: 30%;
  font-family: 'Poppins', sans-serif;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid silver;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  font-family: 'Poppins', sans-serif;
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid silver;
}
.btn {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  font-size: 15px;
  color: silver;
  background: white;
  border: none;
  border-radius: 5px;
}
.error {
  font-family: 'Poppins', sans-serif;
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid silver; 
  color: silver; 
  background: white; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  font-family: 'Poppins', sans-serif;
  color: gray; 
  background: white; 
  border: 1px solid silver;
  margin-bottom: 20px;
}
p {
	font-family: 'Poppins', sans-serif;
	color: silver;
}